<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login | Ninja Tech Forum</title>

        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <p><a href="/">Home</a> | <a href="/signup">Signup</a> | <a href="/login">Login</a></p>

        <h1>Login</h1>

        <form method="post">
            <input type="text" name="username" placeholder="Enter your username" required> <br>
            <input type="password" name="password" placeholder="Enter your password" required> <br>

            <button>Login</button>
        </form>
    </body>
</html>
